@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'MontSerrat', sans-serif;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #eef0f4;
}

#main-container {
	display: flex;
	justify-content: space-around;
	margin: 3rem 2rem;
}

.info-section {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.cv-section {
	width: 50%;
}

.text-muted {
	color: #9ca3af;
}

h2 {
	font-weight: 700;
}

/* Accent button */
.accent-btn {
	background-color: #ec008c;
	color: white;
	font-weight: 600;
}

.accent-btn.save {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
}

.accent-btn.edit {
	padding: 0.75rem;
	border-radius: 50%;
	position: absolute;
	right: 0;
}

/* Form */

form {
	margin-top: 2rem;
}

.form-input {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-input label {
	font-size: 0.875rem;
	font-weight: 600;
	padding: 0 0.5rem;
}

.form-input input {
	border: none;
	background-color: #f3f4f6;
	padding: 1rem;
	border-radius: 0.75rem;
	font-size: 1rem;
}

.form-input input:focus {
	border: none;
	outline: none;
}

.form-input textarea {
	border: none;
	background-color: #f3f4f6;
	padding: 1rem;
	border-radius: 0.75rem;
	font-size: 1rem;
	font-family: inherit;
	font-weight: 400;
}

.form-input textarea:focus {
	border: none;
	outline: none;
}

button {
	border: none;
	background-color: none;
	cursor: pointer;
}

.form-input.form-btn {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 1.5rem;
	align-items: center;
}

.form-btn .cancel {
	background-color: #fff;
	font-weight: 600;
}

.form-btn .delete {
	margin-right: auto;
	border: 1px solid #424242;
	padding: 0.75rem 1.5rem;
	border-radius: 0.5rem;
	background-color: #fff;
	display: flex;
	gap: 0.5rem;
}

.add-btn {
	background-color: #fff;
	border: 2px solid #9ca3af;
	border-radius: 1.5rem;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 0.5rem 1rem;
	display: flex;
	gap: 0.5rem;
	font-size: 1rem;
}
